body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#box {
  font-size: 200px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 800px;
}

#box span {
  display: inline-block;
}

#box span:hover {
  text-shadow: none;
  -webkit-transition: 1s;
}

/* Dun dun dun.*/
.fire {
  text-shadow: 0 0 20px #fefcc9,
               10px -10px 30px #feec85,
               -20px -20px 40px #ffae34,
               20px -40px 50px #ec760c,
               -20px -60px 60px #cd4606,
               0 -80px 70px #973716,
               10px -90px 80px #451b0e;
  -webkit-transition: text-shadow 1s;
  -moz-transition: text-shadow 1s;
}

.upside-down {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}

/* The span needs to stretch so that it scrolls the entire box.
   This is really gross and probably incorrect, but yomo
   (you only marquee once). */
.marquee span {
  width: 100%;
  text-align: right;
  -webkit-animation: marquee 3s linear infinite;
  -moz-animation: marquee 3s linear infinite;
}

/* All the translates need to go together. */
.marquee span.upside-down {
  width: 100%;
  text-align: left;
  -webkit-animation: marquee-upside-down 3s linear infinite;
  -moz-animation: marquee-upside-down 3s linear infinite;
}

/* This rotates! */
.marquee span.lulz {
  width: 100%;
  text-align: right;
  -webkit-transform-origin: center right;
  -webkit-animation: marquee-lulz 3s linear infinite;
  -moz-transform-origin: center right;
  -moz-animation: marquee-lulz 3s linear infinite;
}

@-webkit-keyframes marquee {
  0%   { -webkit-transform: translate(0, 0); }
  100% { -webkit-transform: translate(-100%, 0); }
}

@-webkit-keyframes marquee-upside-down {
  0%   { -webkit-transform: translate(0, 0) rotate(-180deg); }
  100% { -webkit-transform: translate(-100%, 0) rotate(-180deg); }
}

@-webkit-keyframes marquee-lulz {
  0%   { -webkit-transform: translateX(0) rotate(0); }
  25%  { -webkit-transform: translateX(-25%) rotate(90deg); }
  50%  { -webkit-transform: translateX(-50%) rotate(180deg); }
  75%  { -webkit-transform: translateX(-75%) rotate(270deg); }
  100% { -webkit-transform: translateX(-100%) rotate(360deg); }
}

@keyframes marquee {
  0%   { -moz-transform: translate(0, 0); }
  100% { -moz-transform: translate(-100%, 0); }
}

@keyframes marquee-upside-down {
  0%   { -moz-transform: translate(0, 0) rotate(-180deg); }
  100% { -moz-transform: translate(-100%, 0) rotate(-180deg); }
}

@keyframes marquee-lulz {
  0%   { -moz-transform: translateX(0) rotate(0); }
  25%  { -moz-transform: translateX(-25%) rotate(90deg); }
  50%  { -moz-transform: translateX(-50%) rotate(180deg); }
  75%  { -moz-transform: translateX(-75%) rotate(270deg); }
  100% { -moz-transform: translateX(-100%) rotate(360deg); }
}
