body {
  width: 600px;
  margin: 0 auto;
}

h1 {
  color: #333;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

p {
  font-family: 'Open Sans', Helvetica, serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1.2em;
  line-height: 1.7em;
}

a:link, a:visited {
  color: #f92672;
}

.pink {
  color: #f92672;
}


.tiny {
  font-size: 12px;
  margin-top: 100px;
  text-align: center;
}
